* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Styles */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
.dark-1 {
  color: #000000;
}
.dark-2 {
  color: #252432;
}
.dark-3 {
  color: #8987a1;
}
.bg-light {
  background-color: #f5f8ff;
}
.primary-color {
  color: #e95a08;
}

/* Navbar styles */
.logo-image {
  max-width: 100%;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
}
.home,
.cart {
  font-size: 1.25rem;
  font-weight: 400;
}
.shop,
.about-us {
  font-size: 1rem;
  font-weight: 400;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
/* Banner related Styles */
.banner-title {
  font-size: 3rem;
  /* font-size: 65px; */
  font-weight: 600;
  line-height: 50px;
  line-height: 60px;
}
.banner-description {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  flex: 1;
}
.banner-container {
  justify-content: space-between;
  position: relative;
  align-items: center;
  gap: 15px;
}
.banner-content {
  padding: 8px;
  margin: 5px 10px 40px 50px;
}

.banner-img {
  max-width: 100%;
  position: absolute;
  top: -10px;
  left: 870px;
}

/*   <!-- Our plants Section Styles start --> */

.our-plants {
  height: 138px;
  flex-direction: column;
  gap: 16;
  padding: 20px;
  text-align: center;
  margin: 40px;
  margin-left: 110px;
}
.our-plants h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.card img {
  width: 270px;
  height: 322.94px;
}
.cards-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  gap: 20px;
}
.card h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}
.flower-price {
  font-size: 22px;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 10px;
}
.card-btn {
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  margin: 5px;
  width: 270px;
  height: 50px;
}
.card {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}
/* Section Flower Lover Styles Start */
.flower-lover-container {
  margin-top: 100px;
  gap: 50px;
}
.flower-store-img {
  width: 550px;
  height: 650px;
  margin: 10px;
  margin-left: 0px;
  padding-left: 0px;
  padding: 10px;
}
.flower-shop {
  position: relative;
  margin: 0 20px;
}
.trusted-badge-img {
  position: absolute;
  top: -100px;
  right: -90px;
}
.flower-lover-content {
  width: 740px;
  height: 600px;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  margin-left: 30px;
  padding: 20px;
}
.flower-lover-content h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.5%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}
.flower-lover-content ul {
  margin-top: 25px;
  text-align: left;
}
.flower-lover-content li {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: left;
  line-height: 25px;
  gap: 15px;
  margin-top: 30px;
}
/*  <!--  Section Latest Deals Styles Start --> */
.deals-container {
  /* background-color: rgb(238, 171, 171); */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.deals-container h2 {
  font-size: 3rem;
  font-weight: 500px;
}
.deals-container p {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 50px;
}
.left-right-deals-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  margin-left: 0;
}

.deals-left-container {
  margin-left: 0;
}
.deals-left-1 {
  position: static;
  background-image: url("/images/deal-bloom.png");
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  /* width: 100%; */
  /* height: 100%; */
  text-align: center;
  flex: 1;

  padding-left: 0;
  padding-bottom: 0;
}
.deals-left-1 input::placeholder {
  color: transparent;
}
.deals-left-1 input {
  font-size: 1.5rem;
  font-weight: 400px;
  color: white;
  background-color: rgba(255, 255, 255, 0.014);
  border: 1px solid white;
  padding: 10px;
  border: none;
  text-decoration: underline;
}
.deals-left-container h3 {
  font-size: 1.5rem;
  font-weight: 200px;
  text-align: center;
  color: white;
}

.deals-left-2 {
  background-image: url("/images/deal-ana.png");
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  /* width: 100%; */
  text-align: center;
  flex: 1;
  margin-bottom: 0;
}
.deals-left-2 input::placeholder {
  color: transparent;
}
.deals-left-2 input {
  font-size: 1.5rem;
  font-weight: 400px;
  color: white;
  background-color: rgba(255, 255, 255, 0.014);
  border: 1px solid white;
  padding: 10px;
  border: none;
  text-decoration: underline;
}
.deals-right-container {
  width: 100%;
  margin-right: 0;
}

.deals-right {
  background-image: url("/images/deal-zabo.png");
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 800px;
  height: 500px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  border-radius: 20px 20px 20px 20px;
}
.deals-right h2 {
  font-size: 2.5rem;
  margin: 0 0;
  font-weight: 400px;
  padding: 30px;
}
.deals-right input::placeholder {
  color: transparent;
}

.deals-right input {
  font-size: 2rem;
  font-weight: 400px;
  color: white;
  background-color: rgba(255, 255, 255, 0.014);
  border: 1px solid white;
  padding: 10px;
  border: none;
  text-decoration: underline;
}
/* Section Join The Colorful Styles Start */
.join-colorful-container {
  position: relative;
  background-image: url("/images/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  color: white;
  overflow: hidden;
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 400px; */
  background-color: rgba(100, 91, 91, 0.945); /* light gray with 40% opacity */
  z-index: 1;
}
.content {
  position: relative;
  z-index: 2;
  padding: 50px;
  text-align: center;
}
.join-colorful-title {
  margin-top: 100px;
  font-size: 2.5rem;
}
input {
  width: 400px;
  border: none;
  height: 40px;
  font-size: 1rem;
  padding: 10px;
  margin-left: 0;
}
.sub-btn {
  font-size: 1rem;
  font-weight: 400px;
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  margin: 0;
  margin-left: 0;
  padding: 10px;
  width: 150px;
  height: 40px;
}
/* Footer Styles Start */
.container {
}
.footer-container {
  width: 50%;
  height: 200px;
  /* border: 2px solid rgb(218, 91, 69); */
  border-radius: 20px;
  /* box-shadow: 10px 10px 10px rgb(166, 166, 240); */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
}
.footer-logo-side {
  width: 359px;
  height: 179px;
  font-size: 0.6rem;
  margin: 15px;
  padding: 10px;
  flex: 1;
}
.footer-logo-side p {
  margin-top: 10px;
  font-size: 0.75rem;
  margin: 0 auto;
}
.footer-items {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-links-container li {
  width: 150px;
  height: 18px;
  margin: 2px;
  padding: 1.5px;
  font-size: 0.8rem;
  font-weight: 0.7rem;
}

.footer-social-mediaes {
  margin-top: 30px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: flex-end;
  flex: 1;
}

.footer-social-mediaes {
}

/* Responsive Media Query */
@media (max-width: 768px) {
  .navbar {
    display: flex;
  }
  .mobile {
    display: none;
  }
  .banner-img {
    flex-direction: column-reverse;

    width: 395px;
    height: 245px;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-description {
    font-size: 1rem;
  }
  /* Our planets */
  .our-plants-title {
    width: 393pxpx;
    height: 117pxpx;
  }
  .card img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
