* {
  box-sizing: border-box;
  scroll-behavior: smooth;
 
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Styles */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
.dark-1 {
  color: #000000;
}
.dark-2 {
  color: #252432;
}
.dark-3 {
  color: #8987a1;
}
.bg-light {
  background-color: #f5f8ff;
}
.primary-color {
  color: #e95a08;
}

/* Navbar styles */
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
}
.home,
.cart {
  font-size: 1.25rem;
  font-weight: 400;
}
.shop,
.about-us {
  font-size: 1rem;
  font-weight: 400;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
/* Banner related Styles */
.banner-title {
  font-size: 3rem;
  /* font-size: 65px; */
  font-weight: 600;
  line-height: 50px;
  line-height: 60px;
}
.banner-description{
  font-family: Inter;
font-size: 22px;
font-weight: 400;
text-align: left;
flex: 1;
}
.banner-container {
  justify-content: space-between;
   position: relative;
  align-items: center;
  gap: 15px;
}
.banner-content {
 padding: 8px;
  margin: 5px 10px 40px 50px;
}

.banner-img {
  position: absolute;
 top: -10px;
 left: 870px;
  /* display: block; */
  /* width: 100%; */
  /* width: 570px;
  height: 355px; */
}

/*   <!-- Our plants Section Styles start --> */

.our-plants{
height: 138px;
flex-direction: column;
gap: 16;
padding: 20px;
text-align: center;
margin: 40px;
margin-left:180px;
}
.our-plants h2{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.card img{
  width: 270px;
height: 322.94px;
}
.cards-container{
  margin-top: 80px;
 display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  gap: 20px;
}
.card h2{
font-size: 22px;
font-weight: 500;
margin-bottom: 5px;

}
.flower-price{
  font-size: 22px;
font-weight: 700;

margin-top: 0;
margin-bottom: 10px;
}
.card-btn{
  background-color:#e95a08 ;
  color: #FFFFFF;
  border: none;
  margin: 5px;
  width: 270px;
height: 50px;
}
.card{
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}



@media screen and(max-width:) {
  
}